/* meuapp/static/meuapp/css/styles.css */
:root {
    --primary-color: #00ff55;
    --dark-color: #343a40;
}

body {
    font-family: 'Segoe UI', sans-serif;
}

.card {
    transition: transform 0.3s;
}
.card:hover {
    transform: translateY(-5px);
}