{% extends 'app/base.html' %}

{% block title %}Página Inicial{% endblock %}

{% block content %}

<!-- Header personalizado para a home -->
{% with "Bem-vindo ao nosso site" as header_title %}
{% with "Conheça nossos produtos ou fale conosco" as header_subtitle %}
    {% include 'app/partials/_header.html' %}
{% endwith %}
{% endwith %}

    <main>
        <section class="hero">
            <h2>Capacitação para o Futuro!</h2>
            <p>Explore nossos cursos e transforme sua carreira.</p>
            <button>Saiba Mais</button>
        </section>
    </main>

    <footer>
        <p>&copy; 2025 SENAC. Todos os direitos reservados.</p>
    </footer>
</body>
</html>